<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>IDENTIFICATION</mat-card-title>
   
  </mat-card-header>
   <mat-card-content>
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput>
  </mat-form-field>
  <br>



</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">SIGN UP</button>
  </mat-card-actions>
</mat-card>
